<template name="login">

<div class="container">
    <div class="row">
		<div class="span12">
			<form class="form-horizontal" action='' method="POST">
			  <fieldset>
			  <br>
			    <div class="control-group">
			      <!-- Username -->
			      <label class="control-label"  for="username">Email</label>
			      <div class="controls">
			        <input type="email" id="login-email" name="username" placeholder="" class="input-xlarge">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Password-->
			      <label class="control-label" for="password">Hasło</label>
			      <div class="controls">
			        <input type="password" id="login-password" name="password" placeholder="" class="input-xlarge">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Button -->
			      <div class="controls">
			        <button class="btn btn-danger" type="submit">Zaloguj</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>

</template>