<template name="login">

<div class="container">
    <div class="row">
		<div class="span12">
			<form class="form-horizontal" action='' method="POST">
			  <fieldset>
			  <br>
			    <div class="control-group">
			      <!-- Username -->
			      <label class="control-label"  for="username">Email</label>
			      <div class="controls">
			        <input type="email" id="login-email" name="username" placeholder="" class="input-xlarge">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Password-->
			      <label class="control-label" for="password">Password</label>
			      <div class="controls">
			        <input type="password" id="login-password" name="password" placeholder="" class="input-xlarge">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Button -->
			      <div class="controls">
			        <button class="btn btn-success" type="submit">Login</button>
			      </div>
			      <br>
			      <h4>Przykladowi uzytkownicy:</h4>
			      <br>
			       <p>ATEX | email: atex@rachunex.com | roles: user, atex | pass: apple1</p>
			       <p>TEKSIM | email: teksim@rachunex.com | roles: user, teksim | pass: apple1</p>
			       <p>Krystyna Karwowska | email: kkarwowska@rachunex.com | roles: management | pass: apple1</p>
			       <p>Admin | email: admin@rachunex.com | roles: admin | pass: apple1</p>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>

</template>