<template name="ListaZadan">
	<div class="container">
		{{#if showForm}}
		<p>Formularz edycji wybranego zadania:</p>
		<form>
		<div class="flex-container">
			<div class="flex-item">
				<label for="zKlient">Klient</label>
				<input type="text" size=10 name="zKlient" value="{{showSelectedTask.klient}}">
			</div>
			<div class="flex-item">
				<label for="zZadanie">Zadanie</label>
					<select class="selectpicker" name="zZadanie">
						<option>{{showSelectedTask.zadanie}}</option>
						<option>K. przedaż</option>
						<option>K. zakup</option>
						<option>K. kilometrówka</option>
						<option>K. amortyzacja</option>
						<option>K. prowizje bankowe</option>
						<option>K. odsetki k/p</option>
						<option>K. delegacje</option>
						<option>K. ZUS płatnika</option>
						<option>K. ZUS właściciela</option>
						<option>K. lista płac</option>
						<option>K. cyw-prawn.</option>
						<option>D. VAT-7 mies.</option>
						<option>D. VAT-7 kw.</option>
						<option>D. VAT wys. elektr.</option>
						<option>D. ZUS 10</option>
						<option>D. ZUS 15</option>
						<option>D. PIT-5 ZUS</option>
						<option>D. PIT-5 mies.</option>
						<option>D. PIT-5 kw.</option>
						<option>D. PIT-4</option>
						<option>I. OT/LT</option>
					</select>
<!--				<input type="text" name="zZadanie" value="{{showSelectedTask.zadanie}}"> -->
			</div>
			<div class="flex-item">
				<label for="zOkres">Okres</label>
				<input type="text" name="zOkres" value="{{showSelectedTask.okres}}" class="datepicker" data-date-format="mm/yyyy">
				<!-- <input type="text" name="zOkres" value="{{showSelectedTask.okres}}"> -->
			</div>
			<div class="flex-item">
				<label for="zDataDo">Termin</label>
				<input type="text" name="zDataDo" value="{{showSelectedTask.data_do}}" class="datepicker" data-date-format="dd/mm/yyyy">
<!-- 				<input type="text" name="zDataDo" value="{{showSelectedTask.data_do}}"> -->
			</div>
			<div class="flex-item">
				<label for="zDataZak">Zrealizowane dnia:</label>
				<input type="text" name="zDataZak" value="{{showSelectedTask.data_zak}}" class="datepicker" data-date-format="dd/mm/yyyy">
			</div>
			<div class="flex-item">
				<label for="zStatus">Status</label>
        			<select class="selectpicker" name="zStatus">
        			  <option>{{showSelectedTask.status}}</option>
			          <option>W toku</option>
			          <option>Wstrzymany</option>
			          <option>Zakończony</option>
			      	</select>
<!-- 				<input type="text" name="zStatus" value="{{showSelectedTask.status}}"> -->
			</div>
			<div class="flex-item">
				<label for="zKomentarz">Komentarz</label>
				<input type="text" class="input-xxlarge" name="zKomentarz" value="{{showSelectedTask.komentarz}}">
			</div>
		</div>
			<input type="submit" value="Zatwierdź zmiany">
			<input type="button" class="anuluj" value="Anuluj">
			<input type="button" class="remove" value="Usuń zadanie">
		</form>
		{{/if}}
		<div id="table">
		{{> reactiveTable collection=zadania settings=zadaniaSettings}}
		</div>
	</div>
	
<!--{{> spinner}}-->
</template>