<template name="ListaZadan">
	<div class="container">
		{{#if showForm}}
		<p>Formularz edycji wybranego zadania:</p>
		<form>
		<div class="flex-container">
			<div class="flex-item">
				<label for="zKlient">Klient</label>
				<input type="text" size=10 name="zKlient" value="{{showSelectedTask.klient}}">
			</div>
			<div class="flex-item">
				<label for="zZadanie">Zadanie</label>
					<select class="selectpicker" name="zZadanie">
    					{{#each listaZadKat}}
          					{{> opcja1}}
        				{{/each}}
					</select>
			</div>
			<div class="flex-item">
				<label for="zOkres">Okres</label>
				<input type="text" name="zOkres" value="{{showSelectedTask.okres}}" class="datepicker" data-date-format="mm/yyyy">
			</div>
			<div class="flex-item">
				<label for="zDataDo">Termin</label>
				<input type="text" name="zDataDo" value="{{showSelectedTask.data_do}}" class="datepicker" data-date-format="dd/mm/yyyy">
			</div>
			<div class="flex-item">
				<label for="zDataZak">Zrealizowane dnia:</label>
				<input type="text" name="zDataZak" value="{{showSelectedTask.data_zak}}" class="datepicker" data-date-format="dd/mm/yyyy">
			</div>
			<div class="flex-item">
				<label for="zStatus">Status</label>
        			<select class="selectpicker" name="zStatus">
        			  <option>{{showSelectedTask.status}}</option>
			          <option>W toku</option>
			          <option>Wstrzymany</option>
			          <option>Zakończony</option>
			      	</select>
			</div>
			<div class="flex-item">
				<label for="zKomentarz">Komentarz</label>
				<input type="text" class="input-xxlarge" name="zKomentarz" value="{{showSelectedTask.komentarz}}">
			</div>
		</div>
		<div class="flex-container">
			<div class="flex-item">
			<input type="submit" value="Zatwierdź zmiany">
			<input type="button" class="anuluj" value="Anuluj">
			<input type="button" class="remove" value="Usuń zadanie">
			</div>
		</div>
		</form>
		{{/if}}
		<div id="table">
		{{> reactiveTable collection=zadania settings=zadaniaSettings}}
		</div>
	</div>
</template>

<template name="opcja1">
  <option>{{zad}}</option>
  </template>